---
import Badge from "../components/Badge.astro";
import Experience from "../components/Experience.astro";
import CVIcon from "../components/icons/CVIcon.astro";
import GithubIcon from "../components/icons/GithubIcon.astro";
import LinkedinIcon from "../components/icons/LinkedinIcon.astro";
import MailIcon from "../components/icons/MailIcon.astro";
import Case from "../components/icons/Case.astro";
import CodeIcon from "../components/icons/CodeIcon.astro";
import ContactIcon from "../components/icons/ContactIcon.astro";
import SectionContainer from "../components/SectionContainer.astro";
import SocialPill from "../components/SocialPill.astro";
import Layout from "../layouts/Layout.astro";
import AboutMe from "../components/icons/AboutMe.astro";
import ToolsIcon from "../components/icons/ToolsIcon.astro";
import Projects from "../components/Projects.astro";
---

<Layout
	title="Porfolio de Manuel Ramírez | Desarrollador Web | Fronted"
	description="Porfolio del desarrollador web Manuel Ramírez, especializado en desarrollo frontend"
>
	<main class="px-4">
		<SectionContainer id="top" class="py-44 pb-32">
			<img
				class="rounded-full size-16 mb-4"
				src="../../public/yuta icon.jpeg"
				alt="Manuel's photo"
			/>
			<h1
				class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-4"
			>
				Hey! soy Manuel Ramírez <div
					class="flex justify-center items-center"
				>
					<Badge>Disponible</Badge>
				</div>
			</h1>
			<h2 class="text-xl lg:text-2xl text-wrap max-w-[700px]">
				Desarrollador Web. Enfocado en el desarrollo Front-end.
				Estaunidense Mexicano 🇺🇸🇲🇽
			</h2>
			<nav class="flex gap-x-2 mt-6">
				<SocialPill href="mailto:bapmanuel10@gmail.com">
					<MailIcon class="size-6" />
					Contactame
				</SocialPill>
				<SocialPill href="https://github.com/Manuel-RM">
					<GithubIcon class="size-6" />
					GitHub
				</SocialPill>
				<SocialPill href="https://www.linkedin.com/in/manuel-rm13">
					<LinkedinIcon class="size-6" />
					LinkedIn
				</SocialPill>
				<SocialPill href="#">
					<CVIcon class="size-6" />
					Descarga mi CV
				</SocialPill>
			</nav>
		</SectionContainer>

		<SectionContainer id="experiencia">
			<h2
				class="text-3xl text-white font-semibold mb-6 items-center flex gap-x-3"
			>
				<Case class="size-7" />
				Expereciencia Laboral
			</h2>
			<Experience />
		</SectionContainer>

		<SectionContainer id="proyectos">
			<h2
				class="text-3xl text-white font-semibold mb-6 items-center flex gap-x-3"
			>
				<CodeIcon />
				Proyectos
			</h2>
			<Projects />
		</SectionContainer>

		<SectionContainer id="tecnologias">
			<h2
				class="text-3xl text-white font-semibold mb-6 items-center flex gap-x-3"
			>
				<ToolsIcon />
				Tecnologias
			</h2>
		</SectionContainer>

		<SectionContainer id="sobre_mi">
			<h2
				class="text-3xl text-white font-semibold mb-6 items-center flex gap-x-3"
			>
				<AboutMe />
				Sobre mi
			</h2>
		</SectionContainer>

		<SectionContainer id="contacto">
			<h2
				class="text-3xl text-white font-semibold mb-6 items-center flex gap-x-3"
			>
				<ContactIcon />
				Contacto
			</h2>
		</SectionContainer>
	</main>
</Layout>
