<header
	class="flex justify-center items-center py-8 w-full xl:w-[1020px] mx-auto"
>
	<nav class="flex flex-row gap-x-8">
		<a href="#top">Inicio</a>
		<a href="#experiencia">Experiencia</a>
		<a href="#proyecyos">Proyectos</a>
		<a href="#tecnologias">Tecnologias</a>
		<a href="#sobre_mi">Sobre mi</a>
		<a href="#contacto">Contacto</a>
	</nav>
</header>
